{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Password Reset Sent" %}
{% endblock head_title %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">{% trans "Password Reset Sent" %}</h2>
        
        <p>
            {% trans "An email has been sent to your address with instructions to reset your password." %}
        </p>
        
        <a href="{% url 'home' %}" class="btn btn-primary">Return to Homepage</a>
    </div>
{% endblock content %}