{% extends "account/base_entrance.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}
    {% trans "Password Reset Sent" %}
{% endblock head_title %}

{% block inner_content %}
<div class="container mt-5 text-center"> <!-- Centered content -->
    <h2 class="mb-4">{% trans "Password Reset Sent" %}</h2>
    
    <p>
        {% trans "An email has been sent to your address with instructions to reset your password." %}
    </p>
    
    <a href="{% url 'home' %}" class="btn btn-primary" style="width: 250px;"> <!-- Narrower button -->
        <i class="fas fa-home me-2"></i> {% trans "Return to Homepage" %}
    </a>
</div>
{% endblock inner_content %}
