/* Background for all pages */
html {
    height: 100%;
}

/* Background for pages with images */
.default-page {
    background: url('/media/running.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
}

/* Background for plain color pages */
.plain-background {
    background-color: #f0f0f0;  /* Light grey background */
    height: calc(100vh - 164px);
    color: #555;
}

body {
    font-family: 'Lato';
}

/* Buttons */
.check-out-plans-button,
.btn-black {
    background: black;
    color: white;
}

.check-out-plans-button:hover,
.check-out-plans-button:active,
.check-out-plans-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/* Ensure uniform form field size across all screen sizes */
.form-container {
    max-width: 400px; /* Fixed width for form container */
    width: 100%; 
    margin: 0 auto;
}

form .form-group {
    width: 100%; /* Full width inside the container */
}

input, select, .btn-primary {
    width: 100%; /* Ensure all form inputs, select, and button take full width of the container */
    max-width: 100%; /* Prevents overflow */
}

/* Ensure proper spacing */
input, select {
    margin-bottom: 15px;
}

/* Media Queries */

/* Full width on smaller screens */
@media (max-width: 576px) {
    .form-container {
        max-width: 100%;
    }
}

/* Products page - avoid overlap with fixed header */
.content-container {
    padding-top: 150px;
}
