{% extends "base.html" %}
{% load static %}
{% load account_filters %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <h1>{% trans "Welcome to Your Account Dashboard" %}</h1>
        <div class="mt-4 d-flex flex-column align-items-center">
            <a href="{% url 'my_account:profile' %}" class="btn btn-primary mb-3 w-50">{% trans "View Profile" %}</a>
            <a href="{% url 'my_account:purchased_plans' %}" class="btn btn-success w-50">{% trans "View Purchased Plans" %}</a>
        </div>
    </div>
</div>
{% endblock %}