{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load account_filters %}

{% block head_title %}
    {% trans "My Profile" %}
{% endblock head_title %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <h2 class="text-center mb-5">{% trans "My Profile" %}</h2>

                <!-- Personal Details Card -->
                <div class="card mb-4 shadow-sm">
                    <div class="card-body text-center">
                        <h4 class="card-title mb-4">{% trans "Personal Details" %}</h4>
                        <p><strong>{% trans "Username:" %}</strong> {{ user.username }}</p>
                        <p><strong>{% trans "First Name:" %}</strong> {{ user.first_name }}</p>
                        <p><strong>{% trans "Last Name:" %}</strong> {{ user.last_name }}</p>
                        <p><strong>{% trans "Email:" %}</strong> {{ user.email }}</p>
                        <a href="{% url 'my_account:edit_profile' %}" class="btn btn-primary btn-sm mt-3 w-50">
                            <i class="fas fa-user-edit me-2"></i>{% trans "Edit Profile" %}
                        </a>
                    </div>
                </div>

                <!-- Purchased Training Plans Card -->
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h4 class="card-title mb-4">{% trans "Purchased Training Plans" %}</h4>
                        <ul class="list-group">
                            {% for purchase in purchases %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        {% if purchase.training_plan.image %}
                                            <img src="{{ purchase.training_plan.image.url }}" alt="Training Plan Image" width="50" height="50" class="me-3">
                                        {% else %}
                                            <img src="{% static 'images/placeholder.jpg' %}" alt="Placeholder Image" width="50" height="50" class="me-3">
                                        {% endif %}
                                        <strong>{{ purchase.training_plan.title|replace_underscore }}</strong>
                                    </div>
                                    <span class="badge bg-secondary">{{ purchase.purchase_date|date:"F j, Y" }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                        <a href="{% url 'my_account:purchased_plans' %}" class="btn btn-success btn-sm mt-4 w-50">
                            <i class="fas fa-list-ul me-2"></i>{% trans "View All Purchased Plans" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
