<!-- templates/includes/footer.html -->
<footer class="bg-dark text-white pt-5 pb-4 mt-auto">
    <div class="container text-md-left">
        <div class="row text-md-left">
            <!-- About Us -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">RunPlanner Training</h5>
                <p>
                    RunPlanner Training provides personalized training plans for runners of all levels. Our mission is to help you achieve your running goals with expert guidance and support.
                </p>
            </div>

            <!-- Sitemap -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Sitemap</h5>
                <p>
                    <a href="{% url 'home' %}" class="text-white">Home</a>
                </p>
                <p>
                    <a href="{% url 'products_v2:training_plans' %}" class="text-white">Training Plans</a>
                </p>
                <p>
                    <a href="#" class="text-white">About Us</a>
                </p>
                <p>
                    <a href="#" class="text-white">Contact</a>
                </p>
            </div>

            <!-- Newsletter Subscription -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <div id="mc_embed_shell">
                    <div id="mc_embed_signup">
                        <form action="https://herokuapp.us14.list-manage.com/subscribe/post?u=ed21b46cf1c9cbb5fb742802f&amp;id=d74d7c2923&amp;f_id=0080fde0f0" 
                              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                            <div id="mc_embed_signup_scroll">
                                <h2>Subscribe to our Newsletter</h2>
                                <div class="mc-field-group">
                                    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email address" required>
                                </div>
                                <div id="mce-responses" class="clear foot">
                                    <div class="response" id="mce-error-response"></div>
                                    <div class="response visible" id="mce-success-response">You're already subscribed, your profile has been updated. Thank you!</div>
                                </div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>                    
                </div>
            </div>

            <!-- Social Media Links -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mt-3 footer-icons">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Follow Us</h5>
                <a href="#" class="text-white me-4" aria-label="Facebook">
                    <i class="fab fa-facebook-f fa-lg"></i>
                </a>
                <a href="#" class="text-white me-4" aria-label="Twitter">
                    <i class="fab fa-twitter fa-lg"></i>
                </a>
                <a href="#" class="text-white me-4" aria-label="Instagram">
                    <i class="fab fa-instagram fa-lg"></i>
                </a>
                <a href="#" class="text-white me-4" aria-label="LinkedIn">
                    <i class="fab fa-linkedin fa-lg"></i>
                </a>
            </div>
        </div>

        <hr class="mb-4">

        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p>
                    © {{ now|date:"Y" }} RunPlanner Training. All rights reserved.
                </p>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">
                    <a href="#" class="text-white me-3">Privacy Policy</a>
                    <a href="#" class="text-white me-3">Terms of Service</a>
                    <a href="#" class="text-white">Return Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>
