<ul class="navbar-nav w-auto mx-auto">
    <!-- Home Link -->
    <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}">
            Home
        </a>
    </li>

    <!-- Training Plans Link -->
    <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products_v2:training_plans' %}">
            Training Plans
        </a>
    </li>

    <!-- Nutrition Link -->
    <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#">
            Nutrition
        </a>
    </li>

    <!-- About Link -->
    <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'pages:about' %}">
            About
        </a>
    </li>

    <!-- Contact Us Link -->
    <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact:contact' %}">
            Contact Us
        </a>
    </li>
</ul>
