<ul class="navbar-nav w-auto mx-auto">
    <!-- Home link for mobile view -->
    <li class="nav-item d-block d-md-none">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
            Home
        </a>
    </li>

    <!-- Trainig Plan Dropdown -->
    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="training-plans-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Training Plans
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="training-plans-link">
            <a href="#" class="dropdown-item">By Distance</a>
            <a href="#" class="dropdown-item">By Fitness Level</a>
            <a href="#" class="dropdown-item">By Terrain</a>
            <a href="#" class="dropdown-item">All Training Plans</a>
        </div>
    </li>

    <!-- Nutrition Dropdown -->
    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="nutrition-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Nutrition
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="nutrition-link">
            <a href="#" class="dropdown-item">Race Day Nutrition Generator</a>
        </div>
    </li>

    <!-- About Dropdown -->
    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="about-link">
            <a href="#" class="dropdown-item">About RunPLanner</a>
            <a href="#" class="dropdown-item">FAQs</a>
        </div>
    </li>

    <!-- Contact Link -->
<li class="nav-item">
    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="contact-link">
        Contact Us
    </a>
</li>

