{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block body_class %}plain-background{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4">About Us</h1>
    <p>
        Welcome to RunPlanner Training! We are dedicated to helping runners of all levels achieve their personal bests. Whether you're training for your first race or aiming to smash your personal records, we've got the resources and support you need.
    </p>
    <p>
        At RunPlanner Training, we supply personalized training plans for athletes of all skill levels, from beginners to seasoned ultramarathoners. Our plans cater to distances up to 200k and elevations of up to 10,000m, covering road, trail, and mixed terrains. 
    </p>
    <p>
        For beginners, we focus on building a strong foundation with progressive workouts that include easy runs, recovery days, and gentle endurance-building long runs. We guide you step by step to ensure that your introduction to running is both enjoyable and sustainable.
    </p>
    <p>
        For advanced runners, we offer specialized workouts to fine-tune your performance. These include structured tempo runs to enhance your lactate threshold, interval sessions for speed and agility, hill repeats to build strength and endurance, and race-specific strategies for peak performance.
    </p>
    <p>
        We also incorporate strength and conditioning exercises into our plans to help prevent injuries and improve overall performance. Whether you're aiming to complete your first 5k, conquer a challenging trail race, or set a new personal best in a marathon, our tailored programs are designed to help you achieve your goals.
    </p>
</div>
{% endblock %}
