{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block body_class %}plain-background{% endblock %}
{% block extra_title %}Your Basket{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Basket</h1>

    {% if basket %}
        <!-- Basket Items -->
        <div class="basket-container mx-auto" style="max-width: 600px;">
            {% for item in basket %}
                <div class="basket-item border rounded p-3 mb-3">
                    <h5 class="mb-3">{{ item.name }}</h5>
                    <p><strong>Price:</strong> €{{ item.price|floatformat:2 }}</p>
                    <p><strong>Quantity:</strong> {{ item.quantity }}</p>
                    <p><strong>Total:</strong> €{{ item.price|mul:item.quantity|floatformat:2 }}</p>
                    <a href="{% url 'basket_v2:remove_from_basket' item.slug %}" class="btn btn-danger btn-sm">Remove</a>
                </div>
            {% endfor %}
        </div>

        <!-- Total Price and Actions -->
        <div class="text-center mt-4">
            <h3 class="mb-3">Total: €{{ total_price|floatformat:2 }}</h3>
            <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                <a href="{% url 'checkout_v2:checkout' %}" class="btn btn-primary mx-2 my-1" style="width: 200px;">Proceed to Checkout</a>
                <a href="{% url 'basket_v2:clear_basket' %}" class="btn btn-danger mx-2 my-1" style="width: 200px;">Empty Basket</a>
                <a href="{% url 'products_v2:training_plans' %}" class="btn btn-secondary mx-2 my-1" style="width: 200px;">Return to Training Plans</a>
            </div>
        </div>
    {% else %}
        <p class="text-center">Your basket is empty.</p>
    {% endif %}
</div>
{% endblock %}
