{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body_class %}plain-background{% endblock %}

{% block extra_title %}
Training Plans
{% endblock %}

{% block content %}
<div class="content-container container">
    <h1 class="mb-4 text-center">Choose Your Training Plan</h1>

    <!-- Form for selecting options using crispy-forms -->
    <div class="form-container mx-auto">
        <form method="GET" action="{% url 'training_plans' %}">
            {% crispy form %}
        </form>
    </div>
</div>
{% endblock %}
